{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="content">
    <h1>Sign in</h1><br/>
    <form action="{{ path('login') }}" method="post">
        <label for="username">Username</label><br/>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <input type="text" id="username" name="_username" value="{{ last_username }}" /><br/><br/>

        <label for="password">Password</label><br/>
        <input type="password" id="password" name="_password" /><br/><br/>

        <button type="submit" class="button">Login</button>
    </form>
    <br/>
    <div class="register">
        <a href="{{ path('user_registration') }}" class="button">Sign up instead</a>
    </div>

</div>
{% endblock %}
