{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('logout') }}" class="button">LOGOUT</a>
<div class="content">    
    {% if indiv == false %}
    <h1>Stat Leader Board</h1>
    <a href="{{ path('stat') }}" class = "button">Leader Board</a>&emsp;
    <a href="{{ path('my-stat') }}" class = "button">Your Stats</a><br/><br/>
    {% for user in users %}
        <div class="card">
            <div class="nohover">
                {% set full_name = user["user"].fullName | split(' ') %}
                <b>Name: </b> {{ full_name[0]|upper }}<br/>
                <b>Wins: </b> {{ user["stat"].win }}<br/>
                <b>Losses: </b> {{ user["stat"].loss }}<br/>
            </div>
        </div>
        <br/>
    {% endfor %}
    {% endif %}
    {% if indiv == true %}
    <h1>{{ user.fullName|upper }}</h1>
    <a href="{{ path('stat') }}" class = "button">Leader Board</a>&emsp;
    <a href="{{ path('my-stat') }}" class = "button">Your Stats</a><br/><br/>
        <b>Wins: </b> {{ stat.win }}<br/>
        <b>Losses: </b> {{ stat.loss }}<br/>
    {% endif %}
</div>
{% endblock %}
