{% extends 'base.html.twig' %}


{% block body %}

<style>
    .content{
        margin: 0 auto;
        padding-top: 20%;
        width:40%;
    }
    .register{
        padding: 2%;
    }
</style>
<div class="content">
    {% if bet == false %}
        {% for stock in stocks %}
            <a href="{{ path('gamble-bet', { 'id': stock.id }) }}">
            <b>Stock FUll Name:</b> {{stock.fullName}}<br/>
            <b>Stock SHORT Name:</b> {{stock.shortName}}<br/>
            <b>Stock Current Price:</b> {{stock.currPrice}}<br/>
            <b>Stock Last Price:</b> {{stock.lastPrice}}<br/>
            ------------------<br/>
            </a>
        {% endfor %}
    {% endif %}

    {% if bet == true %}
        IS Gonna go up-desu<br/>
        Is gonna go down-desu<br/>
        Is gonna stay same-desu<br/>
    {% endif %}
</div>

{% endblock %}
