{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('logout') }}"class="button">LOGOUT</a>
<div class="content">
    <h1 style="text-align:center">Your balance is: {{ balance }}</h1>
    {% if bet == false %}
        <h1 style="text-align:center">Pick from the list below</h1>
        {% for stock in stocks %}
        <div class="card">
            <a class="nohover" href="{{ path('gamble-bet', { 'id': stock.id }) }}">
            <b>Stock FUll Name:</b> {{stock.fullName}}<br/>
            <b>Stock SHORT Name:</b> {{stock.shortName|upper}}<br/>
            <b>Stock Current Price:</b> {{stock.currPrice}}<br/>
            <b>Stock Last Price:</b> {{stock.lastPrice}}<br/>
            </a>
            </div>
        <br/>
        {% endfor %}
    {% endif %}

    {% if bet == true %}
        <h1 style="text-align:center">You are placing a bet on ${{ stock.shortName|upper }}</h1>
        {{ form_start(form, {'method' : 'POST'}) }}
            {{ form_row(form.stakes) }}
            {{ form_row(form.position) }}
            {{ form_row(form.timestamp) }}
            <button type="submit" class="button">BET</button>
        {{ form_end(form) }}
    {% endif %}
</div>

{% endblock %}
