{% extends 'base.html.twig' %}

{% block body %}
<style>
    .content{
        margin: 0 auto;
        padding-top: 20%;
        width:40%;
    }
    .register{
        padding: 2%;
    }
</style>
<div class="content">
    {% if list == false %}

        {{ form_start(form, {'method' : 'POST'}) }}
            {{ form_row(form.fullName) }}
            {{ form_row(form.shortName) }}
            {{ form_row(form.currPrice) }}
            {{ form_row(form.lastPrice) }}
            <button type="submit">Add</button>
        {% form_theme form 'form/fields.html.twig' %}
        {{ form_end(form) }}


    {% endif %}

    {% if list == true %}
        {% for stock in stocks %}
            <b>Stock FUll Name:</b> {{stock.fullName}}<br/>
            <b>Stock SHORT Name:</b> {{stock.shortName}}<br/>
            <b>Stock Current Price:</b> {{stock.currPrice}}<br/>
            <b>Stock Last Price:</b> {{stock.lastPrice}}<br/>
            ------------------<br/>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
