{% extends 'base.html.twig' %}

{% block title %}Manage profile{% endblock %}

{% block body %}
<style>
    .container{
        margin: 0 auto;
        padding-top: 20%;
        width:400px;
    }
</style>
<div class="container">
    <h1>Change profile</h1>
    <br/>
    STILL UNDER CONSTRUCTION!!<br/>
    you are {{ username }} <br/>
    your email {{ email }} <br/>
    you zipcode is {{ zipcode }} <br/>
    your IP is: {{ ipaddr }} <br/>

    {}
        <form name="update_user" method="post">
            {# <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            > #}
            <div>
                <label for="update_user_fullName" class="required">Full Name</label><br/>
                <input id="update_user_fullName" name="update_user[fullName]" required="" type="text"><br/><br/>
            </div>
            <div>
                <label for="update_user_email" class="required">Email</label><br/>
                <input id="update_user_email" name="update_user[email]" required="" type="email"><br/><br/>
            </div>
            <div>
                <label for="update_user_plainPassword_first" class="required">Password</label><br/>
                <input id="update_user_plainPassword_first" name="update_user[plainPassword][first]" required="" type="password"><br/><br/>
            </div>
            <div>
                <label for="update_user_plainPassword_second" class="required">Repeat Password</label><br/>
                <input id="update_user_plainPassword_second" name="update_user[plainPassword][second]" required="" type="password"><br/><br/>
            </div>
            <div>
                <label for="update_user_street" class="required">Street Address</label><br/>
                <input id="update_user_street" name="update_user[street]" required="" type="text"><br/><br/>
            </div>
            <div>
                <label for="update_user_paypal" class="required">Paypal</label><br/>
                <input id="update_user_paypal" name="update_user[paypal]" required="" type="text"><br/><br/>
            </div>
            <div>
                <label for="update_user_city" class="required">City</label><br/>
                <input id="update_user_city" name="update_user[city]" required="" type="text"><br/><br/>
            </div>
            <div>
                <label for="update_user_zip" class="required">Zipcode</label><br/>
                <input id="update_user_zip" name="update_user[zip]" required="" type="text"><br/><br/>
            </div>
            <button type="submit">Change</button>
        </form>

        {# <form name="update_user" method="post">
            <div><label for="update_user_fullName">Full name</label><textarea id="update_user_fullName" name="update_user[fullName]" maxlength="200"></textarea></div>
            <div><label for="update_user_email" class="required">Email</label><textarea id="update_user_email" name="update_user[email]" required="required"></textarea></div>
            <div><label for="update_user_plainPassword_first" class="required">Password</label><input type="password" id="update_user_plainPassword_first" name="update_user[plainPassword][first]" required="required"></div>
            <div><label for="update_user_plainPassword_second" class="required">Repeat Password</label><input type="password" id="update_user_plainPassword_second" name="update_user[plainPassword][second]" required="required"></div>
            <div><label for="update_user_street">Street</label><textarea id="update_user_street" name="update_user[street]" maxlength="255"></textarea></div>
            <div><label for="update_user_city">City</label><textarea id="update_user_city" name="update_user[city]" maxlength="255"></textarea></div>
            <div><label for="update_user_zip">Zip</label><input type="number" id="update_user_zip" name="update_user[zip]"></div>
            <div><label for="update_user_paypal">Paypal</label><textarea id="update_user_paypal" name="update_user[paypal]"></textarea></div>
            <button type="submit">Register!</button>
        </form> #}

</div>


{% endblock %}
