{% extends 'base.html.twig' %}

{% block title %}Manage profile{% endblock %}

{% block body %}
<a href="{{ path('logout') }}" class="button">LOGOUT</a>
<div class="content">
    <h1>Change profile</h1>
    <br/>
    <b>Hi! Hope you are enjoying our services v(=∩_∩=)ﾌ</b><br/>
    Name: <b>{{ username }}</b> <br/>
    Email: <b>{{ email }}</b> <br/>
    Zipcode: <b>{{ zipcode }}</b> <br/>
    IP: <b>{{ ipaddr }}</b> <br/><br/>

    <a href="{{ path('add_stock') }}" class = "button">ADD A STOCK</a><br/><br/>
    <a href="{{ path('gamble') }}" class = "button">GAMBLE</a><br/><br/>
    <a href="{{ path('stat') }}" class = "button">VIEW STATS</a><br/><br/>
        {{ form_start(form, {'method' : 'POST'}) }}
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            {{ form_row(form.fullName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.street) }}
            {{ form_row(form.city) }}
            {{ form_row(form.zip) }}
            {{ form_row(form.paypal) }}
            <button type="submit" class="button">Change</button>
        {{ form_end(form) }}
</div>


{% endblock %}
